<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:insert="~{fragments/head}"></th:block>
  <script type="text/javascript">

      async function fn_carRegChk(){
        const carNoInput = document.querySelector("input[name='carNo']");
        const carNo = carNoInput.value.trim();
        const regex1 = "^\\d{2,3}[가|나|다|라|마|거|너|더|러|머|버|서|어|저|고|노|도|로|모|보|소|오|조|구|누|두|루|무|부|수|우|주|바|사|아|자|허|배|호|하\\x20]\\d{4}/*$";
        const regex2 = "^[서울|부산|대구|인천|대전|광주|울산|제주|경기|강원|충남|전남|전북|경남|경북|세종]{2}\\d{2}[가|나|다|라|마|거|너|더|러|머|버|서|어|저|고|노|도|로|모|보|소|오|조|구|누|두|루|무|부|수|우|주|바|사|아|자|허|배|호|하\\x20]\\d{4}$";


        if(!carNo) {
          await fn_errorPopup("차량번호 오류", "전체 차량번호를 공백없이 입력해주세요.");
          carNoInput.focus();
          return false;
        }

        if(carNo.match(regex1) || carNo.match(regex2)) {

          const confirmPopup = document.getElementById("resevConfirm");
          const popupText = confirmPopup.querySelector(".alert_txt");
          popupText.textContent = carNo;
          confirmPopup.style.display = "block";

          document.getElementById("trDel").addEventListener("click", async function() {
            confirmPopup.style.display = "none";
            await fn_carReg();
          });

          document.querySelector(".pop_cancel").addEventListener("click", function() {
            confirmPopup.style.display = "none";
          });

          return true;
        } else {
          fn_errorPopup("차량번호 오류", "차량 번호 형식이 올바르지 않습니다.")
          return false;
        }

      }

      function fn_carReg() {

        const carNo = document.querySelector("input[name='carNo']");

        const data = {
          carNo: carNo.value.trim(),
        }

        $.ajax({
          url: fn_pathname("/car/register"),
          type: "post",
          contentType: "application/json; charset=utf-8",
          data: JSON.stringify(data),
          success: async function(data){
            if(data){
              await fn_complatePopup("방문예약 완료", "차량이 성공적으로 등록되었습니다.");
              location.href = fn_pathname("/car/visit");
            }
          },
          error: async function(xhr, a, b){
            if(xhr.responseJSON && xhr.responseJSON.message) {
              await fn_errorPopup("방문예약 실패", xhr.responseJSON.message);
            }
          }
        });
      }

  </script>
</head>
<body>
<div id="wrap">
  <div id="container" class="main">
    <div class="sec">
      <div class="contents pdt">
        <div class="in_tit type02">
          <strong>예약할 <span>차량 정보를</span><br>입력해 주세요.</strong>
          <p>차량번호 전체를 입력해 주세요.</p>
        </div>

        <div class="input car_number">
          <input id="carNo" name="carNo" type="text" placeholder="예시) 12마5674" title="차량번호 입력" />
        </div>
        <div class="btn_area">
          <button type="button" class="btn fill_primary" onclick="fn_carRegChk()">
            <span>방문예약</span>
          </button>
        </div>
      </div>
    </div>

  </div>

</div>

<div id="numaberError" class="system_alert">
  <div class="dim"></div>
  <div class="popup">
    <div class="pop_cont">
      <i class="ico ico_alert"></i>
      <strong>차량번호 오류</strong>
      <p>
        전체 차량번호를 공백없이 입력해주세요.
      </p>
    </div>
    <div class="pop_foot ">
      <button type="button"  class="btn fill_primary"
              onclick="layerHide('numaberError')">다시 입력
      </button>

    </div>
  </div>
</div>

<div id="resevConfirm" class="system_alert">
  <div class="dim"></div>
  <div class="popup">
    <div class="pop_cont">
      <i class="ico ico_check"></i>
      <strong>방문차량 예약을 하시겠습니까?</strong>
      <div class="alert_txt no_ico type_blue">263마7390</div>
      <p>
        ‘예약완료’버튼을 누르시면<br>
        방문예약이 완료됩니다.
      </p>
    </div>
    <div class="pop_foot type01">
      <button type="button" id="trDel" class="btn fill_primary btn_file_del"
              onclick="layerHide('resevConfirm')">예약완료
      </button>
      <a href="javascirpt:void(0);" class="pop_cancel" onclick="layerHide('resevConfirm')">다음에할게요</a>
    </div>
  </div>
</div>
<th:block th:insert="~{fragments/header}"></th:block>
<th:block th:insert="~{fragments/footer}"></th:block>
</body>
</html>
